/* Header */
.responsive_nav_parent {
  height: 60px;
  width: 100%;
  background-color: white;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  color: purple;
  padding-right: 32px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 400;
  position: fixed;
  z-index: 1000;
}

@media only screen and (min-width: 913px) {
  .responsive_nav_parent {
    display: none !important;
  }
}

/* Drawer */
.drawer_btn {
  background-color: white !important;
  box-shadow: none !important;
  width: 100px;
  margin-bottom: 37px;
  color: purple !important;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 400;
}

.drawer_icon {
  color: purple;
  font-size: 12px !important;
}

.drawer {
  background-color: #f5edf7 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none !important;
}

.drawer_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.drawer_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    margin-top: 25px !important;
  }
}

.drawer_text_link {
  font-size: 14px;
  color: rgb(53, 64, 78);
  font-weight: 500;
}

.drawer_text_link:hover {
  color: purple !important;
}

@media only screen and (max-width: 913px) {
  .drawer_btn {
    margin-top: 37px;
  }
}
