.home_page {
  background-color: rgb(249, 249, 249);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.main_wrapper {
  margin-left: 250px;

  position: relative;
  background-color: white;
  z-index: 200;

  > div {
    position: relative;
    background-color: white;
    z-index: 200;
  }
}

.scroll_to_top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 37px;
  height: 35px;
  background-color: rgb(185, 124, 204);
  color: white;
  padding: 7px 5px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;

  svg {
    height: 18px;
    width: 27px;
  }
}

@media only screen and (max-width: 912px) {
  .main_wrapper {
    margin-left: 0px;
  }
}
